.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff8e5; /* Very light orange color */
    padding: 10px 20px;
    color: #333; /* Set your desired text color */
    text-decoration: none;
  }
  
  .header nav span {
    margin: 0 10px;
    text-decoration: none;
  }
  
  .header nav span a {
    text-decoration: none;
    color: #333; /* Set your desired link text color */
  }
/* Assuming the logo.png needs to be 50px in width */
.logo {
    width: 50px;
    height: auto; /* Maintain aspect ratio */
    text-decoration: none;
  }


























/* component.css */

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
   
   
}

.res-card {
    position: relative;
    background: #fff;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 15px;
    width: 200px;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.res-card:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom, rgb(232, 224, 211), rgb(222, 178, 148)); /* Orange gradient on hover */
    text-decoration: none;
    color: black;
}

/* component.css */

.res-card img {
    border-radius: 5px;
    width: 100%;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out; /* Add transition effect */
    text-decoration: none;
}

.res-card:hover img {
    transform: scale(1.1); /* Increase the size on hover */
    text-decoration: none;
}

.res-card h3 {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.res-card p {
    color: #777;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

/* component.css */

.button-container {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
  }
  
  .button-container input {
    padding: 15px; /* Increase padding for a taller search bar */
    border-radius: 5px; /* Rounded corners for input */
    margin-right: 10px;
    width: 70%; /* Set the width of the input to 70% of the container */
    max-width: 400px; /* Set a maximum width for the input */
    box-sizing: border-box; /* Include padding and border in the total width */
    text-decoration: none;
  }
  
  .button-container button {
    background-color: #f60;
    color: #fff;
    padding: 15px 20px; /* Increase padding for a taller button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  




.logo {
    background-color: #f60; 
    padding: 1px;;
    text-align:justify;
    border-radius: 20px; 
    text-decoration: none;
  }

h3{
  text-decoration: none;
  text-decoration-color: aqua;
  color: #f60;
  }

p{
  text-decoration: none;
}

  